body.github
{

}
ul.nav-order
{
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
}
li.nav-list
{
	float: left;
}
li a.nav-link
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
