body.github
{

}
ul.nav-order
{
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
	background: black;
	opacity: 0.25;
	
	position:fixed;
	left:0px;
	top:25px;
}
li.nav-list
{
	float: left;
}
li a.nav-link
{
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
}
.footer
{
	position:fixed;
	left:0px;
	bottom:25px;
	height:30px;
	width:100%;
	font-style: bold;	
	text-align: center;
}
