body
{
	
	background-color: gray;
	color: white;
}
nav
{	
	position: fixed;
	left:0px;
	top:0%;
	height:45px;
	width:100%;
	background-color: black;
}
ul
{
/*	opacity: 0.8;	*/
	list-style-type: none;	/* Remove dot*/
	margin: 0;
	padding: 0;
    	overflow: hidden;
	
}
li
{
	float: left;	/* Horizontal list*/
}
li a
{
	display: block;	    /* Clickable */
	padding: 14px 16px; /*Space between menu*/
	
}

li a:hover
{
	background-color: white;
	color: black;
}
.active
{
	background-color: white;
	color: yellow;
}
a:link
{

	text-decoration: none;
	color: white;
}
div
{
	
}
div.news
{
	
	margin-top: -40px;
	background: black;
	width: 100%;
	background-color: black;
	
}
div.content
{
	margin-top: 100px;
	margin-left: 5px;
	color: white;
	
}
p.context
{	
	color: black;
	font-family: helvetica;
	font-size: 11pt;
}
.red
{
	/*background-color: red;*/
	color: black;
	margin-left: 10px;
	
}
.fa
{
	margin-top: 0px;
	height: 110%;

	
}
.black
{
	background-color: black;
	color: white;
	
	margin-right: -100px;
}
marquee
{
	background-color: white;
	color: black;
	width: 105%;
	margin-right: 1.5%;
}
footer
{
	left:0px;
	bottom:0px;
	height:5%;
	width:100%;
	position: fixed;
	text-align: center;
	background-color: black;
}

.news-update
{
	overflow: hidden;
	padding: 0;
	float: left;
	display: inline block;
	background-color: black;
}
p.foot-note
{
	margin-top: 5px;
	margin-bottom: 10px;
	bottom: 10px;
}


