.context
{
  color: white;
  font-family: calibri;
  font-size: 10pt;
}
button.transparent
{
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
  
  text-align: center;
  /*outline: none;*/
  opacity: 0.1;
  text-decoration: none;

}
body
{
  background: url(http://wallpapercave.com/wp/xV6zQ3f.jpg) no-repeat center center fixed;
  background-size: cover;
  
}
a, a:link{
  text-decoration: none;
  color: white;
}
marquee.white
{
  color: white;
  font-family: calibri;
  font-size: 10pt;
  margin-top: -10px;
}
div.content
{
  /*background: grey;*/
  font-family: arial;
  font-size: 12pt;
 /* opacity: 0.5; */
}
p.head-arial
{
  font-weight: bold;
  font-size: 13pt;
  font-family: arial;
  
  
}
input
{
	opacity: 0.5;
	background: black;
	color: white;
	font-family: courier;
	font-size: 7pt;
}
footer
{
  color: white;
  position:fixed;
	left:0px;
	bottom:25px;
	height:auto;
	width:100%;
	font-style: bold;	
	text-align: center;
}
