body
{
  background: black;
  
}
a, a.link{
  text-decoration: none;
}
a.footer
{
  color: white;
}
div.content
{
  background: grey;
  font-family: arial;
  font-size: 12pt;
  
}
p.head-arial
{
  font-weight: bold;
  font-size: 13pt;
  font-family: arial;
  
  
}
footer
{
  color: white;
}
