body
{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-F0HH67WkK6WFqF7LtB6Hq3y-u6jAIYy5NZuQe29fMSjZYj0V&reload=on) no-repeat center center fixed;
  background-size: cover;
  
}
a, a:link{
  text-decoration: none;
  color: white;
}
div.content
{
  background: grey;
  font-family: arial;
  font-size: 12pt;
  
}
p.head-arial
{
  font-weight: bold;
  font-size: 13pt;
  font-family: arial;
  
  
}
footer
{
  color: white;
}
